1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6 
#

In [14]:
#values:

a = 'hello' , -87.8, 6
print(a)

('hello', -87.8, 6)

In [ ]:
#expressions:
*
+
-
/

2. What is the difference between String and variable

In [ ]:
#String:-

'''
String is a group of character.
if we want to use a text in python then we have to use string.
string can be use in Single quotes('') and double quotes("").
'''

#Variable:-

'''
variables are reserved memory locations that stores values.

'''

3. Describe three different data types.

-> Variables can hold value of diffrent data type is called Data type.In which we are describing the following three Data types:
    
    1. List:
    
    A list consist of items seprated by commas and enclosed within square bracket

In [13]:
# For exampple 
# program for demonastrate operation on list

l = [10, 'ab' , 'ravi' , ('kumar')]

print(l)              #print all elements of list
print(l[0])           #print first element of list
print(l[0:3])        #print element starting from first to first till 3rd
print(l[3:4])         #print elemenr starting from 4th to till 4th
l[2] = [20]           #we can change the value in a list
print(l)

[10, 'ab', 'ravi', 'kumar']
10
[10, 'ab', 'ravi']
['kumar']
[10, 'ab', [20], 'kumar']

2. Tupple
    In typple we can nat change the value. This means that Tupple is a read-only data type.
    
    For example:
     if Tup = (10, 20, 30, 40) it is fine but if you try to change the value of tup[2] = 80, that is to edit the data in tuple,      then an error will be generated.

In [15]:
Tup = (10, 20, 30, 40, 50)

print(Tup)        #print all the element of Tupple
print(Tup[0:3])   #print element starting from first till 3rd
print(Tup[2])     #print element starting from 3rd till 3rd

(10, 20, 30, 40, 50)
(10, 20, 30)
30

In [17]:
Tup[2] = 80 #we can not assign the value in Tupple

TypeError: 'tuple' object does not support item assignment

3. Dictionary 
   
   Dctionary can store the data in key and value pair.
   dictionary and list are mutable data type i.e thair value can be changed.
   To acces the value in dictionary, you just need to specify the key in square bracket([]).

In [23]:
dict = {"Item" : "Chocolate", "price" : 100, "place" : "Delhi", "a" : 10}

print(dict)             #print all the keys and values of dictionary
print(dict["Item"])     #print the value of item

{'Item': 'Chocolate', 'price': 100, 'place': 'Delhi', 'a': 10}
Chocolate

In [26]:
dict["price"] = 20    #here you can change the value of any key

print(dict)

{'Item': 'Chocolate', 'price': 20, 'place': 'Delhi', 'a': 10}

4. what is expression made up of? what do all expressions do?

Ans-
Expression is a combination of operands and operators that is interpreted to produce some other values.
Expressions are representation of values. 
They are different from statement in the fact that statements do something while expressions are representation of value. -For example any string is also an expressions since it represents the value of the string as well.

 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans-   An expression always evaluate the values. And a statement do like creating a variable or displaying the value,.expression only does whatever statement says.

6. After running the following code, what does the variable bacon contain?


bacon = 22

bacon + 1

In [2]:
bacon=22
bacon+1

23

7. What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3

In [1]:
'spam'+'spamspam'

'spamspamspam'

In [2]:
'spam'*3

'spamspamspam'

Both are same

8. Why is eggs a valid variable name while 100 is invalid?

sol- because variables name can not start with any number. variable can be group of digit or number but it should be satrt with latter or underscore. so here "eggs" is start with latter so it is a valid variable where as 100 is invalid

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [6]:
#sol-  

int(10)

10

In [7]:
str('ravi')

'ravi'

In [8]:
float(3.4)

3.4

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos'.

In [13]:
'i have eaten ' + str(99) + ' burritos'

'i have eaten 99 burritos'

In [15]:
ls

 Volume in drive C is Windows
 Volume Serial Number is EC00-9DF2

 Directory of C:\Users\91892

03/10/2022  07:27 PM    <DIR>          .
11/02/2021  02:41 PM    <DIR>          ..
01/22/2022  08:15 PM    <DIR>          .anaconda
11/16/2021  10:08 PM               495 .bash_history
02/22/2022  09:09 AM    <DIR>          .conda
07/20/2021  10:31 PM                25 .condarc
07/20/2021  10:30 PM    <DIR>          .continuum
07/23/2021  11:59 PM    <DIR>          .idlerc
03/09/2022  10:14 PM    <DIR>          .ipynb_checkpoints
07/20/2021  08:09 PM    <DIR>          .ipython
10/27/2021  06:10 PM    <DIR>          .jupyter
07/20/2021  08:09 PM    <DIR>          .matplotlib
09/17/2021  08:22 PM    <DIR>          .spyder-py3
07/20/2021  04:40 PM    <DIR>          .vscode
02/21/2022  11:19 AM    <DIR>          18_dec_liveclass_Tupple
07/25/2021  06:17 AM    <DIR>          3D Objects
03/10/2022  07:27 PM            12,236 Assignment_1.ipynb
01/23/2022  04:51 PM               576 Assignment_2.ipynb
11/02/2021  04:03 PM    <DIR>          Contacts
01/26/2022  03:32 PM            14,758 Decision_control_statement.ipynb
01/29/2022  04:12 PM             1,831 Decision_control_statement_exercises.ipynb
07/26/2021  04:56 PM    <DIR>          Documents
03/10/2022  12:15 PM    <DIR>          Downloads
11/02/2021  04:03 PM    <DIR>          Favorites
01/08/2022  12:39 PM            11,477 function.ipynb
03/09/2022  10:28 PM             1,977 GUI programming-1.ipynb
03/10/2022  04:31 PM    <DIR>          Ineuron_Data_Science_Live_class
07/20/2021  10:43 PM    <DIR>          Jedi
11/02/2021  04:03 PM    <DIR>          Links
11/02/2021  04:03 PM    <DIR>          Music
03/10/2022  06:52 PM    <DIR>          OneDrive
01/23/2022  12:44 PM             4,774 OOPs concept.ipynb
02/23/2022  06:21 PM            52,449 Pandas.ipynb
11/02/2021  04:03 PM    <DIR>          Saved Games
11/02/2021  04:03 PM    <DIR>          Searches
01/15/2022  10:46 AM                 6 test.txt
10/24/2021  01:44 PM             2,647 Time in python.ipynb
10/19/2021  03:54 PM               879 Time_and_Calender.ipynb
08/10/2021  08:36 PM    <DIR>          Tracing
10/27/2021  06:10 PM    <DIR>          Untitled Folder
10/27/2021  06:10 PM    <DIR>          Untitled Folder 1
02/05/2022  05:40 PM    <DIR>          Untitled Folder 2
03/10/2022  12:17 PM    <DIR>          Untitled Folder 3
02/06/2022  02:39 PM            12,557 Untitled.ipynb
10/27/2021  06:10 PM                 0 untitled.txt
01/15/2022  10:52 AM             4,138 Untitled1.ipynb
02/13/2022  10:50 AM             2,142 Untitled2.ipynb
02/22/2022  12:34 PM            31,818 Untitled3.ipynb
02/22/2022  12:30 PM            14,003 Untitled4.ipynb
02/25/2022  08:03 PM            84,291 Untitled5.ipynb
02/26/2022  12:57 PM            57,635 Untitled6.ipynb
03/08/2022  08:06 PM             2,321 Untitled7.ipynb
01/13/2022  06:06 PM    <DIR>          Videos
              22 File(s)        313,035 bytes
              31 Dir(s)  85,085,696,000 bytes free