In [16]:
# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+
6 
#

SyntaxError: invalid syntax (<ipython-input-16-062f7aaaf24a>, line 2)

In [14]:
#values:

a = 'hello' , -87.8, 6
print(a)

('hello', -87.8, 6)

In [ ]:
#expressions:
*
+
-
/

2. What is the difference between String and variable

In [ ]:
#String:-

'''
String is a group of character.
if we want to use a text in python then we have to use string.
string can be use in Single quotes('') and double quotes("").
'''

#Variable:-

'''
variables are reserved memory locations that stores values.

'''

3. Describe three different data types.

-> Variables can hold value of diffrent data type is called Data type.In which we are describing the following three Data types:
    
    1. List:
    
    A list consist of items seprated by commas and enclosed within square bracket

In [13]:
# For exampple 
# program for demonastrate operation on list

l = [10, 'ab' , 'ravi' , ('kumar')]

print(l)              #print all elements of list
print(l[0])           #print first element of list
print(l[0:3])        #print element starting from first to first till 3rd
print(l[3:4])         #print elemenr starting from 4th to till 4th
l[2] = [20]           #we can change the value in a list
print(l)

[10, 'ab', 'ravi', 'kumar']
10
[10, 'ab', 'ravi']
['kumar']
[10, 'ab', [20], 'kumar']

2. Tupple
    In typple we can nat change the value. This means that Tupple is a read-only data type.
    
    For example:
     if Tup = (10, 20, 30, 40) it is fine but if you try to change the value of tup[2] = 80, that is to edit the data in tuple,      then an error will be generated.

In [15]:
Tup = (10, 20, 30, 40, 50)

print(Tup)        #print all the element of Tupple
print(Tup[0:3])   #print element starting from first till 3rd
print(Tup[2])     #print element starting from 3rd till 3rd

(10, 20, 30, 40, 50)
(10, 20, 30)
30

In [17]:
Tup[2] = 80 #we can not assign the value in Tupple

TypeError: 'tuple' object does not support item assignment

3. Dictionary 
   
   Dctionary can store the data in key and value pair.
   dictionary and list are mutable data type i.e thair value can be changed.
   To acces the value in dictionary, you just need to specify the key in square bracket([]).

In [23]:
dict = {"Item" : "Chocolate", "price" : 100, "place" : "Delhi", "a" : 10}

print(dict)             #print all the keys and values of dictionary
print(dict["Item"])     #print the value of item

{'Item': 'Chocolate', 'price': 100, 'place': 'Delhi', 'a': 10}
Chocolate

In [26]:
dict["price"] = 20    #here you can change the value of any key

print(dict)

{'Item': 'Chocolate', 'price': 20, 'place': 'Delhi', 'a': 10}

4. what is expression made up of? what do all expressions do?

Ans-
Expression is a combination of operands and operators that is interpreted to produce some other values.
Expressions are representation of values. 
They are different from statement in the fact that statements do something while expressions are representation of value. -For example any string is also an expressions since it represents the value of the string as well.

 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans-   An expression always evaluate the values. And a statement do like creating a variable or displaying the value,.expression only does whatever statement says.

6. After running the following code, what does the variable bacon contain?


bacon = 22

bacon + 1

In [2]:
bacon=22
bacon+1

23

7. What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3

In [1]:
'spam'+'spamspam'

'spamspamspam'

In [2]:
'spam'*3

'spamspamspam'

Both are same

8. Why is eggs a valid variable name while 100 is invalid?

sol- because variables name can not start with any number. variable can be group of digit or number but it should be satrt with latter or underscore. so here "eggs" is start with latter so it is a valid variable where as 100 is invalid

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [6]:
#sol-  

int(10)

10

In [7]:
str('ravi')

'ravi'

In [8]:
float(3.4)

3.4

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos'.

In [13]:
'i have eaten ' + str(99) + ' burritos'

'i have eaten 99 burritos'